@font-face {
    font-family: "thype-font";
    src: url("../../font/Scartoon.otf") format("opentype");
}

@font-face {
    font-family: "main-font";
    src: url("../../font/abel.woff") format("woff");
}

body {
    background-color: rgb(36, 36, 36);
    font-family: "main-font";
    color: rgb(255, 255, 255)
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(26, 26, 26);
    overflow-x: hidden;
    padding-top: 20px;
}

.menu_point {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 2vw;
    color: #ffffff;
    display: block;
}

.menu_point_clicked {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 2vw;
    color: #ffc815;
    display: block;
}

.menu_header {
    text-align: center;
    margin-bottom: 15%;
    cursor: pointer;
}

.head {
    font-family: "thype-font";
    color: white;
}

.menu_items {
    margin-left: 05%;
    width: 90%;
    margin-top: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.menu_items_clicked {
    margin-left: 05%;
    width: 90%;
    margin-top: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgb(18, 18, 18);
}

.menu_items:hover {
    background-color: rgb(18,18,18);
    cursor: pointer;
}

.type_window {
    margin-left: 15%;
    font-size: 28px;
    padding: 0px 10px;
    height: 85%;
}

.typing_stats{
    margin-top: 8%;
    text-align: center;
    position: static;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
}

.text_to_type{
    margin-top: 9%;
    margin-bottom: 0;
    text-align: center;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
}

.stats_window {
    margin-left: 15%;
    font-size: 28px;
    padding: 0px 10px;
}

.settings_window {
    margin-left: 15%;
    font-size: 28px;
    padding: 0px 10px;
}