<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="sidenav">
    <div class="menu_header" (click)="main_page()" style="font-size: 3vw; color: white;"><a class="head"><span style="color: #ffc815">Thy</span>pe</a></div>
      <div class="menu_items" *ngIf="type_clicked==false" (click)="type_option()"><a class="menu_point">Type</a></div>
      <div class="menu_items_clicked" *ngIf="type_clicked==true" (click)="type_option()"><a class="menu_point_clicked">Type</a></div>
      <div class="menu_items" *ngIf="stats_clicked==false" (click)="stats_option()"><a class="menu_point">Stats</a></div>
      <div class="menu_items_clicked" *ngIf="stats_clicked==true" (click)="stats_option()"><a class="menu_point_clicked">Stats</a></div>
      <div class="menu_items" *ngIf="settings_clicked==false" (click)="settings_option()"><a class="menu_point">Settings</a></div>
      <div class="menu_items_clicked" *ngIf="settings_clicked==true" (click)="settings_option()"><a class="menu_point_clicked">Settings</a></div>
    </div>

  <div class="type_window" *ngIf="type_clicked">
    <div class="typing_stats">
      <p>skldjfhkdjf</p>
    </div>
    <div class="text_to_type">
      <p>{{letters_to_type}}</p>
    </div>
  </div>

  <div class="stats_window" *ngIf="stats_clicked">
    <h2>Stats</h2>
    <p>Content.</p>
    <p>Content.</p>
    <p>Content.</p>
    <p>Content.</p>
    <p>Content.</p>
  </div>

  <div class="settings_window" *ngIf="settings_clicked">
    <h2>Settings</h2>
    <p>Content.</p>
    <p>Content.</p>
    <p>Content.</p>
    <p>Content.</p>
    <p>Content.</p>
  </div>

</ion-content>